{% extends 'base.html'%}
{% load static %}
{%block body %}

<div class="container-fluid row" id='register'>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="card">
                       <H1 class="text-center"> Inscription </H1>
                        <div class="card-body">
                           
                            <a href="#" class="btn btn-sm btn-block lien"><i class="fas fa-user-graduate"></i> Student Attendance</a>
                            <div class="row">
                                <div class="col-md-5"><hr></div>
                                <div class="col-md-2">
                                   <p class="text-muted">or</p> 
                                </div>
                                <div class="col-md-5"><hr></div>
                            </div>
                    {% if messages %}
                        {% for msg in messages %}
                        <div class="col-md-12 alert alert-danger">{{msg.message}}</div>
                        {% endfor %}
                    {% endif %}
                            <form action="{% url 'register' %}" method="POST">
                                {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" name='name' class="form-control form-control-sm" placeholder="Nom et prenom" value="{{data.name}}">
                                    </div>
                                    <div class="form-group">
                                        <input type="email"name='email' class="form-control form-control-sm" placeholder="Email" value="{{data.email}}">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" name='phone' class="form-control form-control-sm" placeholder="telephone" value="{{data.phone}}">
                                    </div>
                                    <div class="form-group">
                                    <select class="selectpicker form-control form-control-sm " name="genre">
                                        <option value="Masculin">Masculin</option>
                                        <option value="Feminin">Feminin</option>
                                       
                                    </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name='password' class="form-control form-control-sm" placeholder="password" value="{{data.password}}">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name='password2' class="form-control form-control-sm" placeholder=" confirmer password" >

                                    </div>
                                    

                                    <input type="submit" value="Enregistrer" name="register" class="btn btn-sm btn-block btn-primary" id='enrg'>
                            </form>
                               
                                

                        </div>
                  
                </div>

                

                <div class="card mt-2">
                    <div class="card-body">
                        <p>vous avez deja un compte?<a href="{% url 'login'%}">connecter vous</a></p>
                    </div>
                </div>


            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

</div>

{% endblock %}