{% extends 'teacher/layouts/base_login.html'%}
{% load static %}
{%block body %}

<div class="container-fluid row" id="login">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="card mt-5">
                    <H1 class="text-center"> Connexion </H1>
                    <small class="text-center text-muted">Espace Des formateurs</small>
                    <div class="card-body">

                        <a href="#" class="btn btn-sm btn-block btn-primary face"> <i class="fas fa-unlock-alt"></i>
                        </a>
                        <div class="row">
                            <div class="col-md-5">
                                <hr>
                            </div>
                            <div class="col-md-2">
                                <p class="text-muted"></p>
                            </div>
                            <div class="col-md-5">
                                <hr>
                            </div>
                        </div>
                        {% if messages %}
                        {% for msg in messages %}
                        <div class="col-md-12 alert alert-danger">{{msg.message}}</div>
                        {% endfor %}
                        {% endif %}
                        <form action="{% url 'loginteacher' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="email" name='email' class="form-control form-control-sm"
                                    placeholder="Email" value="{{data.email}}">
                            </div>

                            <div class="form-group">
                                <input type="password" name='password' class="form-control form-control-sm"
                                    placeholder="password" value="{{data.password}}" id="passwordfield">

                            </div>


                            <input type="submit" value="Enregistrer" name="register"
                                class="btn btn-sm btn-block btn-primary" id='enrg'>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

</div>

{% endblock %}